﻿html
{
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: Calibri, Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    /*background-color: #e4e5e6;*/
}

body
{
    color: #555;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.main-header {
    font-family: Calibri,Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    /* color: #555; */

    /*color: #0080ff;
      color: #ee6c17;        
      color:#555;*/
    color:#0066cc;

    text-align:center ;
    padding-bottom: 10px;
    height:50px;
    height: 40px;
    line-height: 40px;
 

    /* border-bottom: 1px inset #ddd; */

}

.navbar-default {
    /*background-color: #0073e6;*/ 
    /*background-color: #0cb4ce;
      background-color: #3163a5;
      background-color: #0066cc;*/
   background-color: #0080ff;

    /*width: 1570px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;*/


}

.navbar {
    margin-top: 0px;
    position: relative;
    min-height: 20px;
    margin-bottom: 0px;
    /* border: 1px solid transparent; */

}

.topheader{
    margin-bottom: 0px;
    min-height: 50px;
    background-color: #ffffff;
}

/*dropdown menu*/
.open .dropdown-menu > li > a:hover {
    color: #f5f5f5;
    background-color: #0080ff;
}

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus
        {
            /*color: #262626;*/
            color: #f5f5f5;
            text-decoration: none;
            /*background-color: #f5f5f5;*/
            background-color: #0080ff;
        }        
.breadcrumb {
    padding: 8px 15px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 8px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    display: inline-block;

}

.datetime {
    color: #808080;
    margin-top: 15px;
    margin-right: 15px;
    font-size: small;
}

.datetime2 {
    color: #808080;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 14px;
    color: #ee6c17;
        font-weight: bold;


}

.content-panel {    
    padding: 10px 5px 50px;
    position: relative !important;
    margin-left: 0px;
    min-width: 320px;
    background-color:#fff;
}



.mdlswitchicon {
    /*position: absolute;*/    
    /*display: inline-block;*/
    z-index: 101;
    left: 20px;
    margin-top: 15px;
    padding: 6px 20px;
    width: 36px;
    height: 36px;
    text-align: center;
    color: #0080ff;
    font-size: large;
    cursor: pointer;
    border-radius: 12px;
}
    .mdlswitchicon:hover {
        background-color: #0080ff; /*#0C97E2;*/
        color: #fff;
        border: 1px solid #0080ff;
    }


.input-group-addon {
    padding: 3px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/*GridViewStyle*/

.GridViewRowStyle
{
    color: #333333;
    padding: 35px 5px;
    /*background-color: #eee;
      background-color: #fcf8e3;*/      
      background-color:	    #e9e9e2;

 


}

.GridViewAlternatingRowStyle
{
    color: #e7f6fd;



}

.GridViewRowStyle td, .GridViewAlternatingRowStyle td
{
    border: none;
    padding: 5px 5px;
}

.GridViewHeaderStyle {
    font-weight: bold;
    color: #fff;
    /*border-bottom: 1px solid #ccc;
     background-color:#0066cc;   */
     background-color: #1a8cff;
     height:40px;
     background-color:#433f3f;
     

}

th[align="center"]
{
    text-align:center;
}

/*Button Style*/
.btn
{
    display: inline-block;
    padding: 5px 25px 5px;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    /*box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 1px 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}

/*FontStyles*/

.font-bold {
    font-weight: 800;

}

.font-subheader1{
    font-size:26px;
    font-weight: 800;
    color:black;
}

.font-subheader2{
    font-size:17px;
    font-weight: 900;
    color:#555;

}

.font-subheader3{
    font-size:15px;
    font-weight: 800;

}

.font-note{
   color: #CC3300;
}

.font-red{
   color: red;
}

/*Panel Style*/
.panel-default {
    /*border-color: #ddd;*/
    border-color: #D3D3D3;
    border-color: #bee6fe;
  /*border-color:#0C97E2;*/
  /*  border-color: #faebcc;*/

    border-top-width: 10px;
    background-color:white;
    /*background-color:#fcf8e3;*/
     padding: 10px;

}

.blackMe{
    background-color:black;

}

.form-horizontal .control-label {
    height: 25px;
    font-size: 14px;
    color: #555;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

.lineBreaker{

    border-bottom: 1px solid #ccc;
    border-color:lightblue;

}