﻿
/*Password Stregnth for Page*/
.VeryPoorStrength
{
color:Red;
font-weight:bold;
}
.WeakStrength
{
color:Gray;
font-weight:bold;
}
.AverageStrength
{
color:orange;
font-weight:bold;
}
.GoodStrength
{
color:blue;
font-weight:bold;
}
.StrongStrength
{
color:Green;
font-weight:bold;
}
.BarBorder
{
border-style: solid;
border-width: 1px;
width: 180px;
padding:2px;
}

/*Password Strength for Modal*/
#NewPWresult .VeryPoorStrength
{
color:Red;
font-weight:bold;
}
#NewPWresult .WeakStrength
{
color:Gray;
font-weight:bold;
}
#NewPWresult .AverageStrength
{
color:orange;
font-weight:bold;
}
#NewPWresult .GoodStrength
{
color:blue;
font-weight:bold;
}
#NewPWresult .StrongStrength
{
color:Green;
font-weight:bold;
}