﻿

.main-tab .row-header,
.main-tab .tab-panel .ajax__tab_body .row-header,
.main-tab .tab-panel .ajax__tab_hover .ajax__tab_inner,
.main-tab .tab-panel .ajax__tab_active .ajax__tab_inner,
.main-tab .tab-panel .ajax__tab_hover .ajax__tab_inner,
.cal_Theme .ajax__calendar_today,
.main-header
{
    color: #0C97E2; 
}

a{
    color: #0C97E2; 
     text-decoration: none;
}

a:hover{
    color: #0069d6;
    text-decoration:underline; 
}

.navbar-default
{
    background-color: #0C97E2;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
}

.GridViewPagerStyle span,
.cal_Theme .ajax__calendar_header, 
.back-to-top
{
    background-color: #0C97E2;
}

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus,
.navbar-toggle:hover,
.navbar-toggle:focus,
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus
{
    background-color: rgba(0,0,0,0.2);
}

.btn-theme
{
    color: #fff;
    background-color: #0C97E2;
    border-color: #0B86C8;
}

    
    .btn-theme:hover,
    .btn-theme:focus,
    .btn-theme:active,
    .btn-theme.active,
    .open > .dropdown-toggle.btn-theme
    {
        color: #fff;
        background-color: #0069d6;
        border-color: #0B86C8;
    }

    .btn-theme:active,
    .btn-theme.active,
    .open > .dropdown-toggle.btn-theme
    {
        background-image: none;
    }

    .btn-theme.disabled,
    .btn-theme[disabled],
    fieldset[disabled] .btn-theme,
    .btn-theme.disabled:hover,
    .btn-theme[disabled]:hover,
    fieldset[disabled] .btn-theme:hover,
    .btn-theme.disabled:focus,
    .btn-theme[disabled]:focus,
    fieldset[disabled] .btn-theme:focus,
    .btn-theme.disabled:active,
    .btn-theme[disabled]:active,
    fieldset[disabled] .btn-theme:active,
    .btn-theme.disabled.active,
    .btn-theme[disabled].active,
    fieldset[disabled] .btn-theme.active
    {
        background-color: #8AD2F9;
        border-color: #76CAF8;
    }

    .btn-theme .badge
    {
        color: #0069d6;
        background-color: #fff;
    }


.back-to-top
{
    background: #0C97E2 !important;
}

.back-to-top:hover
{
    background: #0B86C8 !important;
}

.main-tab .tab-panel .ajax__tab_active .ajax__tab_outer,
.main-tab .tab-header-btn:hover, .main-tab .tab-header-btn:active,
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, select:focus
{
    border-color: #0B86C8;
}

.tab-panel .ajax__tab_active .ajax__tab_outer
{
    border: solid 1px #ddd;
    border-bottom-color: #fff;
    background-color: #fff;
    border-top: 2px solid #0B86C8;
}



